In [1]:
import pandas as pd
from transformers import T5Tokenizer
import random

In [2]:
tokenizer = T5Tokenizer.from_pretrained('t5-small')

In [3]:
df = pd.read_csv('news_summary.csv')

In [4]:
df.shape

(98401, 2)

In [5]:
df.head()

,headlines,text
0,upGrad learner switches to career in ML & Al w...,"Saurav Kant, an alumnus of upGrad and IIIT-B's..."
1,Delhi techie wins free food from Swiggy for on...,Kunal Shah's credit card bill payment platform...
2,New Zealand end Rohit Sharma-led India's 12-ma...,New Zealand defeated India by 8 wickets in the...
3,Aegon life iTerm insurance plan helps customer...,"With Aegon Life iTerm Insurance plan, customer..."
4,"Have known Hirani for yrs, what if MeToo claim...",Speaking about the sexual harassment allegatio...

In [6]:
print(df['text'][10000])
print(df['headlines'][10000])

Private sector lender Yes Bank on Wednesday said its Non-Executive Chairman Ashok Chawla has resigned with immediate effect. Chawla, who is also the Chairman of NSE, was named by CBI in a chargesheet related to the Aircel-Maxis case. The former Finance Secretary also worked as the Chairman of the Competition Commission of India.
Yes Bank Chairman who was named in Aircel-Maxis chargesheet quits

In [7]:
print(tokenizer.tokenize(df['text'][10000].lower()))
print(tokenizer.tokenize(df['headlines'][10000].lower()))

['▁private', '▁sector', '▁lender', '▁yes', '▁bank', '▁on', '▁we', 'd', 'nes', 'day', '▁said', '▁its', '▁non', '-', 'exe', 'cut', 'ive', '▁chairman', '▁', 'ash', 'ok', '▁', 'cha', 'w', 'la', '▁has', '▁', 're', 'signed', '▁with', '▁immediate', '▁effect', '.', '▁', 'cha', 'w', 'la', ',', '▁who', '▁is', '▁also', '▁the', '▁chairman', '▁of', '▁', 'n', 's', 'e', ',', '▁was', '▁named', '▁by', '▁', 'c', 'b', 'i', '▁in', '▁', 'a', '▁charge', 'sheet', '▁related', '▁to', '▁the', '▁air', 'cel', '-', 'max', 'is', '▁case', '.', '▁the', '▁former', '▁finance', '▁secretary', '▁also', '▁worked', '▁as', '▁the', '▁chairman', '▁of', '▁the', '▁competition', '▁commission', '▁of', '▁india', '.']
['▁yes', '▁bank', '▁chairman', '▁who', '▁was', '▁named', '▁in', '▁air', 'cel', '-', 'max', 'is', '▁charge', 'sheet', '▁quit', 's']

In [8]:
result = []

In [9]:
for i in range(98000):
    article = df['text'][i].lower()
    title = df['headlines'][i].lower()
    
    if len(tokenizer.tokenize(article)) < 120 and len(tokenizer.tokenize(title)) < 25:
        result.append([article,title])

In [10]:
len(result)

88536

In [11]:
random.shuffle(result)

In [12]:
train_df = pd.DataFrame(result , columns = ['Text', 'Summary'])

In [13]:
train_df.to_csv('news_train.csv', index=False)